
<div class="course-md">

    <h2>{{ (course$ | async)?.description }}</h2>

    <div class="course-md-master" *ngIf="!(detail$ | async) as lessonDetail else detailTpl">

        <div class="lessons-nav">
            <button (click)="previous()">Previous</button>
            <button (click)="next()">Next</button>
        </div>

        <lessons-list [lessons]="lessons$ | async" (selected)="selectDetail(lesson)"></lessons-list>

    </div>

    <ng-template #detailTpl>

        <button (click)="back()"></button>

        <lesson-detail [lesson]="lessonDetail"></lesson-detail>

    </ng-template>

</div>

