

.course-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}


.hover-me {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 0 auto 30px auto;
}